<section>
  <h1 matDialogTitle>Cambiar Contraseña</h1>

  <form [formGroup]="formulario" (ngSubmit)="cambiarContrasena()" autocomplete="off">
    <mat-dialog-content>
      <mat-form-field appearance="standard">
        <input type="password" matInput placeholder="Nueva contraseña" formControlName="contrasena" autocomplete="off">
        <mat-error *ngIf="formulario.value.password?.length < 6">La contraseña debe tener mínimo 6 caracteres
        </mat-error>
        <mat-error *ngIf="!formulario.value.password">La contraseña es obligatoria</mat-error>
        <mat-hint>Ingrese nueva contraseña</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="standard" class="ml-2">
        <input type="password" matInput placeholder="Confirme contraseña" formControlName="confirmar" autocomplete="off">
        <mat-error *ngIf="formulario.value.confirm?.length < 6">La contraseña debe tener mínimo 6 caracteres
        </mat-error>
        <mat-error *ngIf="!formulario.value.confirm">La contraseña es obligatoria</mat-error>
        <mat-hint>Repita nueva contraseña</mat-hint>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center" class="mt-2 mb-2">
      <button mat-button type="submit" color="warn" [disabled]="formulario.invalid" [matDialogClose]="true">Cambiar
        Contraseña</button>
      <button mat-button type="button" (click)="cerrarModal()" [matDialogClose]="false">Cancelar</button>
    </mat-dialog-actions>
  </form>
</section>
