<div class="container">
  <h1 class="mat-display-1 text-center">Mis Mascotas</h1>
  <se-encuentra-en></se-encuentra-en>

  <div class="my-4">
    <h3 class="pet-title" *ngIf="datasource.data.length === 0">
      Parece que no tienes mascotas registradas, pera registrar una da click en el botón '+'
    </h3>
    <div class="mt-4 text-center">
      <button class="" type="button" mat-mini-fab color="primary" matTooltip="Registrar mascota"
        (click)="crearMascota()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <section *ngIf="datasource.data.length > 0">
    <div>
      <h3 class="mat-display-1 mb-3 text-center">Mascotas registradas</h3>
      <div class="text-center">
        <mat-form-field class="buscar">
          <input matInput type="text" (keyup)="doFilter($event)" placeholder="buscar..." />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="table-container mx-3" fxLayout="column">
        <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z4">
          <caption style="display: none">
            Mascotas
          </caption>
          <ng-container matColumnDef="nombre">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
              Nombre
            </th>
            <td mat-cell *matCellDef="let doc"> {{ doc.nombre }} </td>
          </ng-container>
          <ng-container matColumnDef="raza">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
              Raza
            </th>
            <td mat-cell *matCellDef="let doc"> {{ doc.raza }} </td>
          </ng-container>
          <ng-container matColumnDef="sexo">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
              Sexo
            </th>
            <td mat-cell *matCellDef="let doc"> {{ doc.sexo === 'M' ? 'Macho' : 'Hembra' }} </td>
          </ng-container>
          <ng-container matColumnDef="fechaNacimiento">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha de nacimiento
            </th>
            <td mat-cell *matCellDef="let doc">
              {{ doc.fechaNacimiento | date: "dd MMM YYYY" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="peso">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Peso</th>
            <td mat-cell *matCellDef="let doc"> {{ doc.peso + "Kgs" }} </td>
          </ng-container>
          <ng-container matColumnDef="observaciones">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm>
              Observaciones
            </th>
            <td mat-cell *matCellDef="let doc" fxHide.lt-sm>
              <p class="px-2">{{ doc.observaciones }}</p>
            </td>
          </ng-container>

          <!-- botones para editar, eliminar -->
          <ng-container matColumnDef="acciones">
            <th scope="col" mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let doc">
              <button type="button" mat-icon-button color="primary" matTooltip="Editar" (click)="editarMascota(doc)">
                <mat-icon class="mat-18">edit</mat-icon>
              </button>
              <button type="button" mat-icon-button color="warn" matTooltip="Eliminar" (click)="editarMascota(doc)">
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- elementos necesarios para el mat-table de angular material-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- paginador de angular material-->
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" class="mat-elevation-z4">
        </mat-paginator>
      </div>
    </div>
  </section>

</div>
