<div>
  <h1 mat-dialog-title>{{esRegistrar? 'Registrar ' : 'Editar '}} perfil de paseador</h1>
  <div fxFlex></div>
  <button mat-icon-button [matDialogClose]="false">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<form [formGroup]="paseadorForm" (ngSubmit)="guardarPerfilPaseador()" fxLayout="column">
  <mat-form-field appearance="standard" class="form-input">
    <mat-label>Tiempo de experiencia paseando perros</mat-label>
    <input matInput type="text" placeholder="Ej. 360 dias" formControlName="tiempoExperiencia">
    <mat-hint>Ingrese la experiencia</mat-hint>
  </mat-form-field>
  <mat-form-field class="form-input" appearance="standard">
    <mat-label>Crea tu perfil como paseador</mat-label>
    <textarea matInput placeholder="Tu perfil, experiencia y descripcion" formControlName="perfil"></textarea>
    <mat-hint>Usa tu perfil para describirte un poco como paseador</mat-hint>
  </mat-form-field>

  <p class="caption itallic text-center my-3 text-red" *ngIf="!paseadorForm.valid">
    Verifica los campos del formulario
  </p>

  <mat-dialog-actions>
    <div fxFlex></div>
    <button mat-button [matDialogClose]="false">Cancelar</button>
    <button mat-button type="submit" color="primary" [disabled]="!paseadorForm.valid"> Guardar Cambios </button>
  </mat-dialog-actions>
</form>
