<mat-toolbar class=".bg-darken-gray expanded">
    <div fxHide.gt-sm>
        <button mat-icon-button (click)="openMenu.emit()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxFlex fxLayoutAlign.lt-md="center" fxLayoutAlign.gt-sm="space-between">
        <div class="logo" [routerLink]="['/home']"></div>

        <mat-nav-list fxLayout="row" fxHide.lt-md>
            <mat-list-item *ngFor="let item of menu" [routerLink]="[item.url]">
                <mat-icon class="pr-2">{{item.icon}}</mat-icon>
                <a> {{item.name}} </a>
            </mat-list-item>
        </mat-nav-list>
    </div>
</mat-toolbar>