h2.h2-verde {
  font-size: 1.5em;
  color: #126961;
}

.text-center {
  text-align: center;
}

.h-50 {
  min-height: 50vh;
}

.rounded {
  border-radius: 50%;
}

.itallic {
  font-weight: 200 !important;
  font-style: italic !important;
}

.text-bold {
  font-weight: bold !important;
}

.light-weight {
  font-weight: 200 !important;
}

app-footer {
  min-height: 200px;
}
