<header class="header-pickanis mb-3">
  <div class="landing-menu">
    <button class="mx-2 py-1 px-3" mat-raised-button color="accent" (click)="abrirRegistrarse()">Registrarse</button>
    <button class="mx-2 py-1 px-3" mat-raised-button color="primary" (click)="abrirInicioSesion()">Iniciar
      Sesión</button>
  </div>
</header>

<div fxLayout="coulmn" class="my-5">
  <mat-card class="mat-elevation-z1 mx-auto h-50" fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="center">
    <h2 class="que-es text-center mb-5">¿Qué es pickanis?</h2>

    <p>Pickanis es Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab temporibus vel
      dolorum perspiciatis ut. Dolor accusamus veniam temporibus natus, quae laboriosam quo numquam, aliquid in
      sapiente porro. Hic, illo possimus?
    </p>
    <p>Pickanis es Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab temporibus vel
      dolorum perspiciatis ut. Dolor accusamus veniam temporibus natus, quae laboriosam quo numquam, aliquid in
      sapiente porro. Hic, illo possimus?
    </p>
    <p>Pickanis es Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab temporibus vel
      dolorum perspiciatis ut. Dolor accusamus veniam temporibus natus, quae laboriosam quo numquam, aliquid in
      sapiente porro. Hic, illo possimus?
    </p>

  </mat-card>
</div>

<section class="banner pt-3">
  <h2 class="que-ofrecemos text-center mt-3 mb-5">¿Qué ofrecemos?</h2>


  <section fxLayout="row" fxLayoutAlign="space-evenly">
    <div class="menu text-center" fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">explore</mat-icon>
      </div>
      <h2 class="servicios ">Rutas</h2>
    </div>
    <div class="menu text-center " fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">event_note</mat-icon>
      </div>
      <h2 class="servicios">Paseos</h2>
    </div>
    <div class="menu text-center " fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">thumb_up_alt</mat-icon>
      </div>
      <h2 class="servicios">Acuerdos</h2>
    </div>
    <div class="menu text-center " fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">place</mat-icon>
      </div>
      <h2 class="servicios">Seguimientos</h2>
    </div>
  </section>



  <!-- <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
      <img src="../../../assets/img/rutas.png" alt="Productos" class="icon">
      <h2 class="pt-3 h2-verde">Diseño de rutas</h2>
    </mat-card>
    <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
      <img src="../../../assets/img/servicios.png" alt="Productos" class="icon">
      <h2 class="pt-3 h2-verde">Seguimiento de servicio</h2>
    </mat-card> -->

</section>
