<header class="header-pickanis mb-3">
  <div class="landing-menu">
    <button class="mx-2 py-1 px-3" mat-raised-button color="accent" (click)="abrirRegistrarse()">Registrarse</button>
    <button class="mx-2 py-1 px-3" mat-raised-button color="primary" (click)="abrirInicioSesion()">Iniciar
      Sesión</button>
  </div>
</header>

<div fxLayout="coulmn" class="my-5">
  <mat-card class="mat-elevation-z1 mx-auto h-50" fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="center">
    <h2 class="que-es text-center mb-5">¿Qué es pickanis?</h2>

    <p>Pickanis es Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab temporibus vel
      dolorum perspiciatis ut. Dolor accusamus veniam temporibus natus, quae laboriosam quo numquam, aliquid in
      sapiente porro. Hic, illo possimus?
    </p>
    <p>Pickanis es Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab temporibus vel
      dolorum perspiciatis ut. Dolor accusamus veniam temporibus natus, quae laboriosam quo numquam, aliquid in
      sapiente porro. Hic, illo possimus?
    </p>
    <p>Pickanis es Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab temporibus vel
      dolorum perspiciatis ut. Dolor accusamus veniam temporibus natus, quae laboriosam quo numquam, aliquid in
      sapiente porro. Hic, illo possimus?
    </p>

  </mat-card>
</div>

<section class="banner pt-3">
  <h2 class="que-ofrecemos text-center mt-3 mb-5">¿Qué ofrecemos?</h2>


  <section fxLayout="row" fxLayoutAlign="space-evenly">
    <div class="menu text-center" fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">explore</mat-icon>
      </div>
      <h2 class="servicios ">Rutas</h2>
    </div>
    <div class="menu text-center " fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">event_note</mat-icon>
      </div>
      <h2 class="servicios">Paseos</h2>
    </div>
    <div class="menu text-center " fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">thumb_up_alt</mat-icon>
      </div>
      <h2 class="servicios">Acuerdos</h2>
    </div>
    <div class="menu text-center " fxFlex="15">
      <div class="rounded mx-auto">
        <mat-icon class="iconos">place</mat-icon>
      </div>
      <h2 class="servicios">Seguimientos</h2>
    </div>
  </section>

</section>

<section class="accion" fxLayout.lt-sm="column" fxLayoutGap="3em">
  <div class="text-center my-auto" fxFlex fxFlex.gt-sm="62">
    <h2 class="mat-display-2">¿Qué esperas?</h2>
    <p class="mat-display-1 light-weight">No lo dudes, tu perro necesita socializar para poder ser estable, necesita
      ejercitarse para poder mantenerse saludable; únete a la comunidad de estudiantes del Politécnico Colombiano Jaime
      Isaza Cadavid que ya usan <span class="mat-display-1 text-bold">Pickanis</span> para encontrar quien puede pasear
      a sus mascotas
      o que desean ofrecer sus
      servicios como paseador.
    </p>
    <button mat-raised-button color="warn" class="py-3 px-4" (click)="abrirRegistrarse()">
      <span class="mat-display-1 light-weight">Registrarse Aquí</span>
    </button>
  </div>
  <div class="perrito m-1" fxFlex> </div>
</section>
