<mat-card class="mat-elevation-z5 m-2">
  <mat-card-header>
    <mat-card-title>Mi perfil paseador</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="esPaseador">
        <button mat-button (click)="abrirFormularioPaseador()">
          <mat-icon>edit</mat-icon>
          <span class="pl-2">Editar mi perfil</span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="!esPaseador">
        <button mat-button (click)="abrirFormularioPaseador()">
          <mat-icon>verified_user</mat-icon>
          <span class="pl-2">Registrarme como paseador</span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="esPaseador">
        <button mat-button (click)="desactivarPaseador()">
          <mat-icon>person_remove</mat-icon>
          <span class="pl-2">Desactivarme como paseador</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
