<footer class="pb-4" fxLayout fxLayout.lt-sm="column">
  <section fxFlex class="text-center">
    <h3>Redes</h3>
    <ul class="no-style">
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Twitter</li>
    </ul>
  </section>
  <section fxFlex class="text-center">
    <h3>Recursos</h3>
    <ul class="no-style">
      <li>Equipo de trabajo</li>
      <li>Acerca de</li>
      <li>Paseos</li>
      <li>Paseadores</li>
    </ul>
  </section>
  <section fxFlex class="text-center">
    <h3>Contactenos</h3>
  </section>

</footer>
<mat-divider></mat-divider>
<section class="my-4 text-center">
  Copyright &copy; Pickanis - 2022
</section>
