<footer fxLayout fxLayout.lt-sm="column">
  <section fxFlex class="text-center seccion" *ngFor="let seccion of obtenerSecciones()">
    <h3 class="text-bold">{{seccion.titulo}}</h3>
    <mat-divider class="mx-2"></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let enlace of seccion.enlaces">
        <mat-icon>
          <fa-icon [icon]="enlace.faIcon" fxFlex></fa-icon>
        </mat-icon>
        <a [href]="enlace.url" target="_blank" class="enlace-externo" [ngClass]="enlace.caption ?' pl-3':'' ">
          <span mat-line>{{enlace.nombre}}</span>
          <span mat-line *ngIf="enlace.caption">{{enlace.caption}}</span>
        </a>
      </mat-list-item>
    </mat-list>
  </section>

  <!-- TODO: eliminar despues de agregar programaticamente los recursos y validar el auth guard
  <section fxFlex class="text-center seccion">
    <h3 class="text-bold">Recursos</h3>
    <mat-divider class="mx-1"></mat-divider>
    <mat-list class="no-style">
      <mat-list-item>Equipo de trabajo</mat-list-item>
      <mat-list-item>Acerca de</mat-list-item>
      <mat-list-item>Paseos</mat-list-item>
      <mat-list-item>Paseadores</mat-list-item>
    </mat-list>
  </section>
 -->

</footer>
<mat-divider></mat-divider>
<section class="my-4 text-center">
  Copyright &copy; Pickanis - 2022
</section>
