<div class="row">
  <h3>{{esEditar ? 'Modificar' : 'Registrar'}} Mascota</h3>
  <div fxFlex></div>
  <button mat-icon-button matTooltip="Cerrar" matDialogClose>
    <mat-icon>clear</mat-icon>
  </button>
</div>

<form autocomplete="off" [formGroup]="mascotaForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field fxHide>
      <mat-label>Código Asignado</mat-label>
      <input matInput formControlName="idMascota" />
    </mat-form-field>
    <div class="form-group">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-hint>Ingrese el nombre de la mascota </mat-hint>
        <mat-error>El nombre es un campo obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="1em">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Raza</mat-label>
        <input matInput formControlName="raza" />
        <mat-hint>Ingrese la raza de la mascota </mat-hint>
        <mat-error>La raza es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="sexo">
          <mat-option [value]="item.valor" *ngFor="let item of sexos">{{item.descripcion}}</mat-option>
        </mat-select>
        <mat-hint>Seleccione el sexo de la mascota</mat-hint>
        <mat-error>El sexo es un campo obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="1em">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [max]="maxDate" [matDatepicker]="nacimiento" formControlName="fechaNacimiento" />
        <mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
        <mat-datepicker #nacimiento></mat-datepicker>
        <mat-hint>Ingresa la fecha de nacimiento de la mascota</mat-hint>
        <mat-error>La fecha de nacimiento es un campo obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Peso</mat-label>
        <input type="number" min="0.2" matInput formControlName="peso" />
        <mat-hint>Ingrese el peso de la mascota en Kilogramos</mat-hint>
        <mat-error>El peso es un campo obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group" fxLayout="column">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observaciones"></textarea>
        <mat-icon matPrefix>message</mat-icon>
        <mat-hint>
          <p>Ingrese los rasgos característicos de la mascota</p>
          <p> Máximo 255 caracteres / actual:{{ mascotaForm.value.observaciones.length }} </p>
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="form-actions" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-evenly"
    fxLayoutGap="20x">
    <button type="button" mat-raised-button matDialogClose color="warn">
      Cancelar
    </button>
    <button type="submit" mat-raised-button color="primary" [disabled]="mascotaForm.invalid">
      Guardar mascota
    </button>
  </mat-dialog-actions>
</form>
