<div class="row">
    <!-- mat-dialog-title -->
    <h3>Registro Mascota</h3>
    <div fxFlex></div>
    <button mat-icon-button matTooltip="Cerrar" [matDialogClose]="true">
        <mat-icon>clear</mat-icon>
    </button>
</div>

<form autocomplete="off" [formGroup]="mascotaForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="form-group" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
            fxLayoutGap="1rem">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Código Asignado</mat-label>
                <input matInput formControlName="idMascota" />
                <mat-hint>El código es autoasignado por el sistema</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" />
                <mat-hint>Ingrese el nombre de la mascota </mat-hint>
                <mat-error>El nombre es obligatorio</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
            fxLayoutGap="1rem">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [max]="maxDate" [matDatepicker]="nacimiento" formControlName="fechaNacimiento" />
                <mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
                <mat-datepicker #nacimiento></mat-datepicker>
                <mat-hint>Ingresa la fecha de nacimiento de la mascota</mat-hint>
                <mat-error>La fecha de nacimiento es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Peso</mat-label>
                <input type="number" min="0.2" matInput formControlName="peso" />
                <mat-hint>Ingrese el peso de la mascota en Kilogramos</mat-hint>
                <mat-error>El peso es obligatorio</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group" fxLayout="column">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Rasgos característicos</mat-label>
                <textarea matInput formControlName="rasgosCaracteristicos"></textarea>
                <mat-icon matPrefix>message</mat-icon>
                <mat-hint>
                    <p>Ingrese los rasgos característicos de la mascota</p>
                    <p>
                        Máximo 255 caracteres / actual:{{ mascotaForm.value.rasgosCaracteristicos.length }}
                    </p>
                </mat-hint>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="form-actions" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-evenly" fxLayoutGap="20x">
        <button type="button" mat-raised-button [matDialogClose]="true" color="warn" *ngIf="!isWaiting">
            Cancelar
        </button>
        <button type="submit" mat-raised-button color="primary" *ngIf="!isWaiting" [disabled]="mascotaForm.invalid">
            Guardar mascota
        </button>
        <mat-spinner *ngIf="isWaiting"></mat-spinner>
    </mat-dialog-actions>
</form>