<h1 class="mat-display-1 text-center">Paseadores</h1>
<se-encuentra-en></se-encuentra-en>

<mat-card class="container mat-elevation-z4 mb-3 mx-4" *ngFor="let paseador of paseadores">
  <div class="mr-3" fxFlex="13">
    <div class="avatar rounded text-center mx-auto" fxLayout="column" fxLayoutAlign="center">
    </div>
  </div>
  <div class="info-personal" fxFlex>
    <h3 class="mat-display-1 mb-3">{{paseador.usuario.nombre + ' ' + paseador.usuario.apellido}}</h3>
    <h3 class="mat-h2">Perfil:</h3>
    <p>
      {{paseador.perfilExperiencia}}
    </p>
  </div>
  <div class="experiencia" fxFlex>
    <h3 class="mat-h2">Experiencia</h3>
    <p>{{paseador.tiempoExperiencia}}</p>
  </div>
  <div class="experiencia" fxFlex>
    <h3 class="mat-h2">Estado</h3>
    <p>{{paseador.estado ? 'Activo' : 'Inactivo'}}</p>
  </div>
</mat-card>
