<header class="header-pickanis mb-3"></header>

<se-encuentra-en></se-encuentra-en>

<section class="menu my-5 px-5" fxLayout fxLayout.lt-sm="column">
  <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
    <img src="../../../assets/img/productos.png" alt="Productos" class="icon">
    <h2 class="pt-3 h2-verde">Productos</h2>
  </mat-card>
  <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
    <img src="../../../assets/img/rutas.png" alt="Productos" class="icon">
    <h2 class="pt-3 h2-verde">Diseño de rutas</h2>
  </mat-card>
  <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
    <img src="../../../assets/img/servicios.png" alt="Productos" class="icon">
    <h2 class="pt-3 h2-verde">Seguimiento de servicio</h2>
  </mat-card>
</section>

<main>
  <section class="banner"> </section>

  <section fxLayout.lt-sm="column" fxLayoutGap="3em">
    <div class="aside perrito" fxFlex> </div>
    <div class="aside" fxFlex>texto </div>
  </section>
</main>

<footer>
  footer
</footer>
