<header class="header-pickanis mb-3"></header>

<se-encuentra-en></se-encuentra-en>

<main class="mb-3">
  <section fxLayout fxLayout.lt-sm="column">
    <div fxFlex class="imagen-titulo-estrategico m-1"></div>
    <div fxFlex class="text-center titulo-estrategico my-auto mx-2">
      <h1 class="mat-display-3">titulo estrategico</h1>
      <span class="mat-display-1 light-weight">descripcion Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Officiis dicta a necessitatibus qui quod
        nemo sed officia repudiandae recusandae, saepe molestiae ex distinctio error animi laudantium, aliquam, aut
        fugiat
        mollitia.</span>
    </div>
  </section>

  <!-- TODO: esto se puede hacer de forma programática, teniendo en el component la lista de rutas y servicios -->
  <section class="my-5 banner" fxLayout="column">
    <h2 class="mat-display-2 mt-3 light-weight text-center">Accesos frecuentes</h2>
    <div>
      <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
        <img src="../../../assets/img/productos.png" alt="Productos" class="icon">
        <h2 class="pt-3 h2-verde">Productos</h2>
      </mat-card>
      <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
        <img src="../../../assets/img/rutas.png" alt="Productos" class="icon">
        <h2 class="pt-3 h2-verde">Diseño de rutas</h2>
      </mat-card>
      <mat-card class="mat-elevation-z5 text-center mx-2 my-2" fxFlex fxLayout="column">
        <img src="../../../assets/img/servicios.png" alt="Productos" class="icon">
        <h2 class="pt-3 h2-verde">Seguimiento de servicio</h2>
      </mat-card>
    </div>
    <span class="mat-display-1 itallic text-center mt-4 mb-3">Ingresa a una de las opciones!</span>
  </section>

  <section fxLayout.lt-sm="column" fxLayoutGap="3em">
    <div class="aside text-center my-auto" fxFlex fxFlex.gt-sm="62">
      <h2 class="mat-display-2">otro titulo</h2>
      <span class="mat-display-1 light-weight">descripcion Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Officiis dicta a necessitatibus qui quod
        nemo sed officia repudiandae recusandae, saepe molestiae ex distinctio error animi laudantium, aliquam, aut
        fugiat
        mollitia.</span>
    </div>
    <div class="perrito m-1" fxFlex> </div>
  </section>
</main>
